/*10/8*/
/*toyo*/
.system{
    background-image: url(../img/system.png);
    background-color: #000000ba;
  }
  .room{
    height: 475px;
    display: flex;
    background-color: #f7c2c2;
    justify-content: center;
  }
  .swiper-container {
    width: 310px;
    height: 398px;
    margin-top: 30px;
    z-index: 0;
    position: absolute;
  }
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: seagreen;
  }
  .access div{
    height: 57px;
    font-size: 19px;
    text-align: center;
    vertical-align: middle;
    border: 2px #fda8d7 solid;
    color: #632859;
    background-color: #fddde9;
  }
  .recruit{
    width: 98%;
    height: 800px;
    border: 4px #ce9d2f solid;
  }
  p{
    height: 27px;
    font-size: 18px;
    background-color: #ffbfbf;
    color: #502233;
  }
  .recruit div{
    width: 96%;
    height: 58px;
    border-bottom: 2px #ffffff solid;
    padding: 5px;
  }
  .roomtitle{
    height: 70px;
    background-image: url(../img/roomtitle.png); 
}
.accesstitle{
  height: 70px;
  background-image: url(../img/accesstitle1.png); 
}
.recruittitle{
  height: 70px;
  background-image: url(../img/recruittitle.png); 
}
@media screen and (min-width:700px) {
  .roomtitle{
    height: 69px;
      width: 383px;
}
.accesstitle{
  height: 69px;
  width: 383px; 
}
.recruittitle{
  height: 69px;
  width: 383px;
}
}
@media screen and (min-width:900px) {
  .system{
    height: 980px;
  }
  .roomtitle{
    height: 130px;
    background-size: unset;
    background-position: center;
}
.recruit{
    width: 78%;
    height: 800px;
    border: 4px #ce9d2f solid;
  }
.recruittitle{
  height: 130px;
  background-size: unset;
  background-position: center;
  }
.accesstitle{
  height: 130px;
background-size: unset;
background-position: center;
}
}