/*10/8*/
/*toyo*/
*{
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: 100%;
    list-style-type: none;
}
h1{
    display: none;
}
a{
    text-decoration: none;
    color: #632859;
}
.body{
    background-color:#faecf2;/*改*/
    /* background-image:url(../img/body.png);
    background-repeat: repeat-x;
    background-position: top;
    background-size: auto; */
}
.nav{
    width: 99%;
    position: fixed;
    z-index: 10;
    height: 44px;
    background-color: #ff9ca1;
    border: 2px #ff4a4a solid;
}

.telephone{
    width: 81%;
    height: 86%;
    float: left;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    padding-top: 7px;
    border-right: 3px #ff4a4a solid;
}
.navimg{
    height: 83%;
    width: 11%;
    margin: 3px;
    background-image: url(../img/list.png);
    float: right;
}
.navLong{
    width: 65%;
    position:fixed;
    z-index: 15;
    background-color: #faecf2;
    display: none;
    border: 2px white solid;
}

.navLong1{
    width: 92%;
    height: 37px;
    border: 3px white solid;
    border-radius: 10px;
    padding-top: 11px;
    font-size: 19px;
    margin: 6px;
    text-align: center;
    vertical-align: middle;
    background-color: #ec9092;
}
.navLongLogo {
    margin-top: 5px;
    height: 104px;
    text-align: center;
    vertical-align: middle;
    background-image: url(../img/logo.png);
}
.navLong2{
    border-top: 3px salmon solid;
    position: absolute;
    z-index: 10;
    bottom: 0px;
    height: 55px;
    font-size: 19px;
    text-align: center;
    padding-top: 15px;
    vertical-align: middle;
}
.top{
    height: 212px;
    padding-top: 57px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   

}

.logo{
    width: 306px;
    height: 103px;
    background-image: url(../img/logo.png);
}
.tel{
    width: 261px;
    height: 99px;
    background-image: url(../img/tel.png);
}
.navLage{
    height:75px;
    display: none;
}
.navButton{
    height:50px;
    width: 16.65%;
    background-color: chocolate;
    float: left;
}
.focus{
    background-image:url(../img/fucus.png);
}
.footing{
    display: none;
    position:fixed;
    z-index: 10;
    bottom:0px;
    height: 50px;
    background-color: violet;
}
.end{
    display: none;
    height: 135px;/*需要调试*/
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #000000ba;
}
.endimg{
    height: 135px;/*需要调试*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-image: url(../img/end.png);
}
.Titles{
    height: 70px;
    /* background-image: url(../img/titleback.png); */
    background-repeat: repeat-x;
    background-size: unset;
}
@media screen and (min-width:700px) {
    .top{
    height: 150px;/*需要调试*/
    justify-content:space-between;
    padding-top: 98px;
    }
    .nav {
        width: 99%;
        height: 95px;
    }
    .telephone {
        font-size: 50px;
    }
    .top div{
        margin: 25px;/*需要调试*/
    }
    .navLongLogo {
        height: 155px;
    }
    .endimg {
        height: 80px;
    }
    .end{
        display: block;
        height: 180px;/*需要调试*/
        justify-content:space-between;
        background-color: #fad6e5;
        display: flex;
    }
}

@media screen and (min-width:900px) {
    body{
        width: 900px;
        background-color: #fffeec;
    }
    *{
        /* width: 900px; */
        margin: 0px auto;
    }
    .top{
        padding-top: 0px;
        }
    .nav{
        display: none;
    }
    .navLage{
        display: block;
    }
    .focus {
        height: 483px;
    }
    .Titles{
        height: 140px;
        background-repeat: repeat-x;
        background-size: unset;
    }
     .end{
            display: block;
    }
    .endimg{
        display: none;
    }
}